.post-entry {
    text-align: center;
    background-color: green;
}

.navbar-start {
    width: 100%;
    justify-content: center;
}

a.icon {
    color: hsl(0, 0%, 70%);
    transition: color 0.5s;
}

a.icon:hover {
    color: #363636;
}